<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <title>Home</title>
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light shadow-sm">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item" th:if="${username != null}">
          <a class="nav-link" href="#">Hello, <span th:text="${username}"></span></a>
        </li>
      </ul>
      <th:block th:if="${username == null}">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
        </ul>
      </th:block>
      <th:block th:if="${username != null}">
        <form th:action="@{/logout}" method="post">
          <button type="submit" class="nav-link">Logout</button>
        </form>
      </th:block>
    </div>
  </div>
</nav>

<!-- Product list -->
<div class="container d-flex justify-content-center mt-5">
  <ul class="list-group list-group col-md-6">
  <li class="list-group-item d-flex justify-content-between align-items-start" th:each="product : ${products}">
    <div class="ms-2 me-auto">
      <div class="fw-bold" th:text="${product.name}">PRODUCT_NAME</div>
      <span th:text="${product.description}">PRODUCT_DESCRIPTION</span>
    </div>
    <span class="badge text-bg-primary rounded-pill">[[${product.price}]] €</span>
  </li>
</ul>
</div>

<!-- Pagination -->
<nav aria-label="Post navigation" class="container d-flex justify-content-center mt-3">
  <ul class="pagination justify-content-center mt-4">

    <!-- Button «← Prev» -->
    <li class="page-item"
        th:classappend="${currentPage == 0} ? 'disabled'">
      <a class="page-link gradient-btn"
         th:href="@{|/?pageNumber=${currentPage - 1}|}"
         aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <!-- Pages -->
    <li class="page-item"
        th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
        th:classappend="${i == currentPage} ? 'active'">
      <a class="page-link gradient-btn"
         th:text="${i + 1}"
         th:href="@{|/?pageNumber=${i}|}"></a>
    </li>

    <!-- Button «Next →» -->
    <li class="page-item"
        th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
      <a class="page-link gradient-btn"
         th:href="@{|/?pageNumber=${currentPage + 1}|}"
         aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

  </ul>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>